.card {
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(123, 6, 233, 0.308);
    width: 200px;
    margin: 50px;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid   #e6630c
}

.card-text{
    padding: 5px 0;
}

h1.card-text{
    padding-bottom: 15px;
}